@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.nav ul {
    background-color: rgba(0, 0, 0);
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav ul li {
    list-style: none;
    padding: 15px;
}

.nav img {
    width: 60px;
    padding-left: 10px;
}


.brand {
    font-size: 27px;
    font-weight: 500;
}

a {
    color: white;
    text-decoration: none;
}

#user-img {
    width: 3%;
    position: absolute;
    right: 85px;
}

#user {
    position: absolute;
    right: 20px;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    display: grid;
    padding-top: 35px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-image: linear-gradient(#896a36,#2e210c);
}

.cover {
    width: 250px;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 35px;
    align-items: center;
    margin: auto;
}

.type {
    font-size: 15px;
    position: relative;
    top: 75%;
    left: -170px;
}

.name {
    position: relative;
    font-size: 100px;
    top: 0;
    font-weight: bolder;
    left: -170px;
}

.info {
    position: relative;
    top: 20%;
    left: -170px;
    font-size: 17px;
    font-weight: 600;
    opacity: 0.8;
}

.playlist{
    background-image: linear-gradient(#181206, #120c04);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 20px 40px;
    font-size: 17px;
}

.playlist div{
    padding: 10px 0 10px 15px;
    opacity: 0.7;
}

.head{
    border-bottom: 2.5px #48320d86 solid;
    padding-bottom: 10px;
}

.playlist .song-name{
    opacity: 1;
    font-weight: bold;
}

.song-name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.playbar{
    height: 90px;
    background-color: black;
    position: sticky;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar{
   width: 50%;
}
