* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 53, 37);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.box {
    border: 1.5px solid white;
    border-radius: 7px;
    padding: 30px;
    margin: 30px;
}

.box2 {
    display: none;
}

.box1 {
    cursor: pointer;
}